body {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;            
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0px;
}

button {
    background-color: rgb(201, 173, 137);
    margin: auto;
    padding: 10px;
}

.btn {
    margin-top: 100px;
    padding: 8px;
}

.btn2 {
    text-align: center;
    margin-top: 10px;

}

input {
    margin: 10px;
    padding: 10px;
}

p {
    padding: 10px;
    border-color: black;
    border: 1px;
    margin: 10px;
}